.login-box
{
    height: 50%;
    width: 30%;
    border: 1px solid grey;
    margin-left: 35%;
    margin-top: 10%;
    position: relative;
    box-shadow: 21px 12px 24px 10px rgba(0, 0, 0, .5);
    background: #dadada;
}
.login-header
{
    text-align: center;
    font-family: "vardhana",cursive;
    font-size: 35px;
    background: linear-gradient(to bottom, #00bfff 0%, #0000ff 100%);
    color:#fff;
    position: relative;
    box-shadow: 1px 3px 14px  rgba(0, 0, 0, .5);
}
.login-body
{
    padding: 20px;
    line-height: 2;
}